html {
    height: 100%;
    width: 100%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.card {
    margin: 10px;
}

.card img {
    height: 27rem;
    object-fit: contain;
}

.container p a {
    text-decoration: none;
}